html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

header .header-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  height: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-cont .logo {
  height: 50px;
  margin-top: 20px;
}

header .header-cont .nav-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 50px;
}

header .header-cont .nav-cont nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-cont .nav-cont nav ul .nav-items {
  height: 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  font-size: 20px;
  line-height: 30px;
  vertical-align: bottom;
}

header .header-cont .nav-cont nav ul .nav-items:hover {
  background-color: aquamarine;
}

header .header-cont .nav-cont .darkmod-cont {
  position: relative;
  width: 80px;
  height: 34px;
  background-color: grey;
  border-radius: 20px;
  z-index: 10;
}

header .header-cont .nav-cont .darkmod-cont.dkmod {
  background-color: #1A6DFF;
}

header .header-cont .nav-cont .darkmod {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: black;
  border: none;
  z-index: 20;
  top: 2px;
  margin-left: 8px;
  -webkit-transition: .3s linear all;
  transition: .3s linear all;
}

header .header-cont .nav-cont .darkmod.dkmod {
  position: absolute;
  top: 2px;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #fff;
  -webkit-transition: .3s linear all;
  transition: .3s linear all;
}

main {
  width: 100vw;
  margin-top: 90px;
  background-color: #1A6DFF;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 50px;
  padding: 50px 0;
  margin: 0 auto;
}

main section .items {
  width: 400px;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: #fff;
  color: #1A6DFF;
  text-align: start;
  padding-top: 50px;
}

main section .items .descr {
  width: 330px;
  margin: 30px auto;
  border: 1px solid red;
}

main section .items .descr h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  margin-bottom: 20px;
}

main section .items img {
  width: 330px;
  height: 200px;
  margin: 0 auto;
  background-color: aliceblue;
}

main .modal {
  display: none;
}

.move_top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.move_top-btn::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -5px -3px;
  background-image: url("../assets/icon/icon-top-btn.png");
}
/*# sourceMappingURL=style.css.map */